.input{
    font-size: larger;
}

form{
    background-color: rgba(3, 117, 16, 0.652);
    color: aliceblue;
    height: 500;
    height: 180;
    
}

footer{
    background-color: gold;
    height: 140;
    width: 200;
}